<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Google Charts With Thymeleaf</title>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" th:inline="javascript">

        // Load the Visualization API and the corechart package.
       google.charts.load('current', {'packages':['line']});

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);
        google.charts.setOnLoadCallback(drawLineChart);

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Day of month');
      data.addColumn('number', 'Access Count');
      data.addRows([[${countData}]])

      var options = {
        chart: {
          title: 'Facebook accesses counted day by day',
          subtitle: 'times'
        },
        width: 800,
        height: 500
      };
      var chart = new google.charts.Line(document.getElementById('chart_div'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    }

    function drawLineChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Day of month');
      data.addColumn('number', 'Total access time');
      data.addRows([[${totalTimeData}]])
      var options = {
        chart: {
          title: 'The Facebook access time calculated day by day',
          subtitle: 'in minutes'
        },
        width: 800,
        height: 500
      };
      var chart = new google.charts.Line(document.getElementById('line_chart'));
      chart.draw(data, google.charts.Line.convertOptions(options));
    }
    </script>
</head>
<body>
<h1 style="text-align:center"
    th:text="'Facebook activity report of user : ' + ${userName}+ ' in month : ' +${month}+ ''"></h1> </h1>
<div id="chart_div" style="float:left"></div>
<div id="line_chart" style="float:left ; margin-left:100px"></div>
</body>
</html>